:root {
  --black-color: #1d1e22;
  --dark-teal: #344e5c;
  --dark-grey-color: #636e72;
  --light-grey-color: #dfe6e9;
  --white-color: #ffffff;
  --off-white-color: #f6f9fb;
  --red-color: #d00000;
  --off-red-color: #ef3d59;
  --orange-color: #e17a47;
  --yellow-color: #efc958;
  --green-color: #12aa60;
  --teal-color: #1da696;
  --blue-color: #0984e3;
  --purple-color: #646cff;

  /* Valentines Colors */
  --dark-magenta-color: #6F1E51;
  --light-magenta-color: #B53471;
  --magenta-color: #ED4C67;
  --lavender-color: #9980FA;
  --pink-color: #FDA7DF;

}